<div class="row">
  <div class="container col-md-11">
    <div class="card">
      <div class="card-header cus-font">
        Event List
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <table class="table">
              <thead class="thead-light">
                <tr>
                  <th scope="col">No:</th>
                  <th scope="col">Event Type</th>
                  <th scope="col">Event Action</th>
                  <th scope="col">Event Time</th>
                  <th scope="col">#</th>
                  <th scope="col">#</th>
                </tr>
              </thead>
              <tbody>
                <% @clock_events.each_with_index do |clock_event,index| %>
                  <tr>
                    <th scope="row"><%= index+1 %></th>
                    <td class="cus-col-big">
                      <%= clock_event.event_type == 1 ? "School" : clock_event.event_type == 2 ? "Lunch" : clock_event.event_type == 3 ? "Personal" : "" %>
                    </td>
                    <td class="cus-col-big">
                      <%= clock_event.event_action == 1 ? "Clock-In" : clock_event.event_action == 2 ? "Clock-Out" : "" %>
                    </td>
                    <td class="cus-col-big"><%= clock_event.event_time.strftime("%Y/%m/%d %H:%M") %></td>
                    <td class="cus-col-sml"><%= link_to 'Edit', edit_clock_event_path(clock_event) %> </td>
                    <td class="cus-col-sml"><%= link_to 'Delete', clock_event_path(clock_event), method: :delete, data: {confirm: "Are you sure you want to delete?"} %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <%= paginate @clock_events %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</br>
